* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  height: 175vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #8F8389;
  color: #E6EFE9;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #E6EFE9;
  border: #ADCAB7 2px solid;
  color:  #8F8389;
  border-radius: 50%;
  width: 8rem; /* Set equal width and height */
  height: 8rem; /* Set equal width and height */
  font-size: large;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.04);
}

button:active {
  transform: scale(0.9);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

