/* loading screen styling */
.welcome {
    font-size: 3rem;
    position: relative;
    left: 20px;
    top: 100px;
    color: #E6EFE9;
    z-index: 1;
}

.nav {
    position: relative;
    left:30px;
    top:120px;
    padding:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: solid 2px #ADCAB7;
    border-radius: 20px;
    width: fit-content;
}

.nav a {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  
  .nav a::after {
    content: '•';
    display: block;
    font-size: 1.5rem; /* Adjust the size of the bullet point if necessary */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 0.001rem; /* Adjust the spacing below the link */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .nav a:hover::after {
    opacity: 1;
  }

.loading {
    font-size: 3.5rem;
    position: relative;
    left: 20px;
    top: 90px;
    color: #E6EFE9;
}

/* rest of the site */

.headernav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    position: fixed;
    right:0;
    padding: 2rem;
}

.headernav a {
    position: relative;
    color: inherit;
    text-decoration: none;
  }

.headernav a::after {
    content: '•';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 1px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .headernav a:hover::after {
    opacity: 1;
  }
  

.gallery{
    height:175vh;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5vw;
    padding-right: 1vw;
    padding-top:2vw;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
    .column{
        width: 290px;
        height: 1300px;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        min-width: 250px;
        position: relative;
        .imageContainer{
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 0.3vw;
            overflow: hidden;
        .img{
            object-fit: cover;
        }
        }
    }
}

.container1 {
    position: fixed;
    left: 0;
    z-index:1;
}

.container2 {
    position: absolute;
    right: 0;
}

.spacer {
    height: 1vh;
}


/*  styling for individual project pages */
.projectpages {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.projecttitlecontainer{
    position: fixed;
    top: 12%;
    margin-left: 1rem;
    .projecttitle {font-size: 140px;
    letter-spacing: -20px;
    border-right: solid 1px #E6EFE9;}
}

.tagcontainer {
  display: flex;
  flex-direction: row;
  gap:1.2rem;
  margin-left:2rem;
  margin-top:1rem;
}

.tags {
  font-size: small;
  font-weight: 500;
  padding:0.5rem;
  border: solid 0.5px #E6EFE9;
  background-color: #2D2D2D ;
  border-radius: 20px;
  color: #ADCAB7;
}

.techstack {
  margin-top:1rem;
}

.GitHubLink {
  display: flex;
  align-items: end;
}

.projectinfocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem; 
    position: fixed;
    right:10%;
    bottom:6%;
}

.projectinfotext {
    display: flex;
    flex-direction: column;
    gap:1rem;
    text-align: left;
    width:480px;
    border-left: solid 1px #E6EFE9;
    padding-left: 1rem;
}

/* about page styling */
.aboutH1 {
    font-size: 90px;
}

.abouttext {
  display: flex;
  flex-direction: column;
  gap:1rem;
  text-align: left;
  width:420px;
  border-left: solid 1px #E6EFE9;
  padding-left: 1rem;
  font-size: 15px;
  font-weight: 300;
}

.galleryAbout{
    display: flex;
    flex-direction: row-reverse;
    position:absolute;
    gap: 2rem;
    top:0px;
    overflow: hidden;
    .columnAbout{
        width: 240px;
        height: 1700px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        .imageContainerAbout{
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 0.3vw;
            overflow: hidden;
        .img{
            object-fit: cover;
        }
        }
    }
}
 /* /project styling */
.container {
    height: 140vh;
    width: 100vw;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    gap:1rem;
    overflow:hidden;
    .workH1 {
        font-size: 250px;
        padding: 2rem 0rem 0rem 1rem;
    }
    .workP{
        padding-left: 2.5rem;
        width: 1000px;
        font-size: 15px;
        font-weight: 300;
    }
}

.socialContainer { 
  height: 150vh;
  width: 100vw;
  background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
  gap:1rem;
  overflow:hidden;}

  .projectsnav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    position: absolute;
    right:0;
    padding: 2rem;
}

.projectsnav a {
    position: relative;
    color: inherit;
    text-decoration: none;
  }

.projectsnav a::after {
    content: '•';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 1px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .projectsnav a:hover::after {
    opacity: 1;
  }

.navList {
    position: relative;
    list-style: none;
    padding-left: 1;
    color:#ADCAB7;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5rem;
}

.navList li {
    display: inline;
    margin-right: 20px;
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
  
}

.codingProjects{
  display: flex;
  flex-direction: column;
  gap:5rem;}

.codingProjects h1 {
  font-size: 125px;
  letter-spacing: -20px;
  width:250px;
  border-right: solid 1px #E6EFE9; }

  .codingText p{
    width: 500px;
    text-align: left;
    font-size: 14px;
    font-weight: 200;
  }

  .CTA {
    color: #ADCAB7;
    padding-top: 0.5rem;
  }


.socialProjects{
  display: flex;
  align-items:end;
  justify-content: space-between;
  padding-left: 1rem;}

.socialProjects h1 {
  font-size: 125px;
  letter-spacing: -20px;
  width:250px;
  border-right: solid 1px #E6EFE9;}


.socialText {
  text-align: right;
  width: 500px;
  margin-right: 6rem;
  font-size: 14px;
  font-weight: 200;
}

/* social media gallery */
.videoGallery {
    height: 175vh;
    position: relative;
    display: flex;
    gap: 4vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 6vw 0 6vw;
  }
  
  .videoColumn {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  
  .videoContainer {
    position: relative;
    height:1920px;
    border-radius: 1vw;
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .videoColumn:nth-of-type(1) {
    top: -45%;
  }
  
  .videoColumn:nth-of-type(2) {
    top: -95%;
  }
  
  .videoColumn:nth-of-type(3) {
    top: -45%;
  }
  
  .videoColumn:nth-of-type(4) {
    top: -75%;
  }
  
  .videoSpacer {
    height: 0rem;
  }
  
  .section4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top:4rem;
  }

  .copywritingText {
    width: 520px;
    padding-top: 2rem;
    text-align: right;
    margin-left: 20rem;
    font-size: 14px;
    font-weight: 200;
  }

  .copywritingTextCTA {
    width: 520px;
    padding-top: 2rem;
    text-align: right;
    margin-left: 20rem;
    font-size: 14px;
    font-weight: 200;
    color: #ADCAB7;
  }

  .copywritingExamples {
    margin-top: 10rem;
    display: flex;
    gap: 4rem;
  }
  .copywritingExamples img {
    border-radius: 50% ;
  }

.miscHeadline {
  margin-top:5rem;
  color: #ADCAB7;
  margin-left: 5rem;
  width:360px;
  font-size: 70px;
  letter-spacing: -20px;
  border-right: solid 1px #E6EFE9;}
 
.miscContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top:4rem;
  background-color: #E6EFE9;
  border-top: solid 2.5px #8F8389 ;
  border-bottom: solid 2.5px #8F8389 ;
  padding: 4rem 4rem 0rem 4rem;
}

.moreWorkText {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  margin-top: 4rem;
  margin-bottom:4rem;
}

.tagText {
  color: #2D2D2D;
  text-align: center;
  color:#8F8389;
  font-size: 14px;
}

                          


/* contact page */
.contactPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:200vh;
  background-color: #2D2D2D;
  z-index: -1;
  .title {
    font-size: 80px;
    margin-bottom: 3rem;
  }
  .email {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 3rem;
    gap:1rem;
    color:#ADCAB7;
  }

  .emailBox {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap:1rem;
    margin-top: 1rem;
    color:#E6EFE9;
  }


  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }

  .credits {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap:2rem;
    margin-top: 5rem;
    
  }

  .credits footer p {
    font-size: 9px;
    margin-top:10vh;
    position: relative;
    bottom: 0%;
  }

}
  
@media only screen and (max-width: 765px) {
    .main {
        display: flex;
        flex-direction: column;
      }
      .loading {
        font-size: 2rem;
    }
    .welcome {
        font-size: 2rem;
    }
        .container2 {
          display: none; /* Hide container2 on a phone */
        }
      .galleryAbout {
        display:none;
      }

      .headernav {
        font-size: 10px;
        position: absolute;
        top: 1px;
        right: 1px;
        gap: 0.5rem;
      }

  

    .aboutH1 {
      position: absolute;
      top:5rem;
      left:1rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
    .abouttext {
      position: absolute;
      top: 20rem;
      left:1rem;
      width:300px;
      font-size: 14px;
    }
      }
